.clearfix{
    clear: both;
    content: " ";
}
.border{
    border: 1px solid white;
}
.main-bg {
    background-image: url("../img/background.png");
    background-size: cover;
    min-height: 50vh;
}
.header{
    margin: 0 auto;
    float: left;

}
.header-img{
    margin-left: 360px;
    margin-top: 49px;

}
.header-text{
    display: inline-block;
    margin-left: 15px;
    font-weight: bold;
}
.header-item-main{
    font-size: 29px;
    margin-bottom: 0;
}
.header-item{
    font-size: 18px;
    margin-top: 0;
}
.header-link{
    text-decoration: none;
    text-transform: uppercase;
}
.contacts-info{
    float: right;
    margin-top: 57px;
    margin-left: 725px;
    color: white;
}
.contacts-info-mail{
    font-size: 18px;
    margin-bottom: 3px;
}
.contacts-info-phone{
    font-size: 18px;
    margin-top: 0;
    text-align: right;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

.directions-post {
    float: left ;
    margin-top: 48px;
    padding-right: 69px;
    margin-bottom: 98px;
}
.directions-post-title {
    text-align: center;
    margin-top: 22px;
}
.directions-post-link{
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}
.directions-post-img {
    float: bottom;
    margin-right: 16px;
}
.text-color{
    color: white;
}
.text-color:hover{
    color: #F26522;
}
.copyright{
    text-align: center;
    color: #DEDEDE;
    margin-top: 61px;
    font-size: 12px;
}
.directions-post-title:hover{

}
